@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
}

/* just put "visiblesb" on the className to overwrite the width and height of a scrollbar */
.invisiblesb::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #fff292;
    border-radius: 100vh;
    height: 1px;
    width: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7a3f9c;
    cursor: pointer;
}

/* This is to decrease the start of the scrollbar track */
::-webkit-scrollbar-button:start:increment {
    width: 35%;
    background: transparent;
}

/* This is to decrease the end of the scrollbar track */
::-webkit-scrollbar-button:end:increment {
    width: 35%;
    background: transparent;
}

/* timeline item */
.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -26px;
    left: -30px;
    width: 1px;
    height: calc(100% + 70px);
    background: #424242;
}
  
.timeline-item::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: #fef08a;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #353535;
}